In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [2]:
data = pd.read_csv("Fish.csv")

In [3]:
data.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Species  159 non-null    object
 1   Weight   159 non-null    float64
 2   Length1  159 non-null    float64
 3   Length2  159 non-null    float64
 4   Length3  159 non-null    float64
 5   Height   159 non-null    float64
 6   Width    159 non-null    float64
dtypes: float64(6), object(1)
memory usage: 8.8+ KB

In [5]:
data.describe()

            Weight     Length1     Length2     Length3      Height       Width
count   159.000000  159.000000  159.000000  159.000000  159.000000  159.000000
mean    398.326415   26.247170   28.415723   31.227044    8.970994    4.417486
std     357.978317    9.996441   10.716328   11.610246    4.286208    1.685804
min       0.000000    7.500000    8.400000    8.800000    1.728400    1.047600
25%     120.000000   19.050000   21.000000   23.150000    5.944800    3.385650
50%     273.000000   25.200000   27.300000   29.400000    7.786000    4.248500
75%     650.000000   32.700000   35.500000   39.650000   12.365900    5.584500
max    1650.000000   59.000000   63.400000   68.000000   18.957000    8.142000

In [6]:
data.isnull().sum()

Species    0
Weight     0
Length1    0
Length2    0
Length3    0
Height     0
Width      0
dtype: int64

In [7]:
data["Species"].unique()

array(['Bream', 'Roach', 'Whitefish', 'Parkki', 'Perch', 'Pike', 'Smelt'],
      dtype=object)

In [8]:
# using label encoder
data_map = {"Bream":0,"Roach":1,"Whitefish":2,"Parkki":3,"Perch":4,"Pike":5,"Smelt":6}
data["Species_new"] = data["Species"].map(data_map)
data.drop("Species",axis = 1,inplace = True)

In [9]:
data.head()

   Weight  Length1  Length2  Length3   Height   Width  Species_new
0   242.0     23.2     25.4     30.0  11.5200  4.0200            0
1   290.0     24.0     26.3     31.2  12.4800  4.3056            0
2   340.0     23.9     26.5     31.1  12.3778  4.6961            0
3   363.0     26.3     29.0     33.5  12.7300  4.4555            0
4   430.0     26.5     29.0     34.0  12.4440  5.1340            0

In [10]:
x = data.iloc[:,:-1].values
y = data.iloc[:,-1].values

In [17]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.25,random_state = 0)

In [18]:
model = LogisticRegression(solver = "newton-cg", multi_class = "ovr")

In [19]:
model.fit(x_train,y_train)

LogisticRegression(multi_class='ovr', solver='newton-cg')

In [20]:
y_pred = model.predict(x_test)

In [21]:
model.score(x_train,y_train)

0.9663865546218487

In [22]:
model.score(x_test,y_test)

0.875